@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #0b372dbb;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #333;
}

.logo {
  width: 100px;
}

header {
  width: 100%;
  position: absolute;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0.9rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header nav {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  align-items: center;
  list-style: none;
}

header ul a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 1.5rem;
  font-weight: 300;
  font-size: 0.83rem;
}

.search a {
  font-size: 1.05rem;
  padding: 0 3rem;
}

.hamburger {
  padding-left: 1.5rem;
}

.hamburger a {
  padding: 0;
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(115, 115, 115, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.hamburger .bar {
  position: relative;
  width: 52%;
  height: 1.3px;
  background-color: #fff;
  border-radius: 2px;
}

.hamburger .bar::before,
.hamburger .bar::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 100%;
  background-color: inherit;
  border-radius: 2px;
}

.hamburger .bar::before {
  top: -4.2px;
}

.hamburger .bar::after {
  top: 4.2px;
}

main {
  position: relative;
  background-color: #353;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.parallax {
  pointer-events: none;
  transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
}

.bg-img {
  z-index: 1;
  width: 2800px;
  top: calc(50% - 390px);
  left: calc(50% + 10px);
  position: absolute;
}

.fog-7 {
  z-index: 2;
  width: 1900px;
  top: calc(50% - 100px);
  left: calc(50% + 300px);
  position: absolute;
}

.mountain-10 {
  z-index: 3;
  width: 892px;
  top: calc(50% + 69px);
  left: calc(50% + 230px);
  position: absolute;
}

.fog-6 {
  z-index: 4;
  width: 1610px;
  top: calc(50% + 85px);
  left: calc(50% + 10px);
  position: absolute;
}

.mountain-9 {
  z-index: 5;
  width: 470px;
  top: calc(50% + 113px);
  left: calc(50% - 457px);
  position: absolute;
}

.mountain-8 {
  z-index: 6;
  width: 810px;
  top: calc(50% + 86px);
  left: calc(50% - 202px);
  position: absolute;
}

.fog-5 {
  z-index: 7;
  width: 450px;
  top: calc(50% + 160px);
  left: calc(50% + 20px);
  position: absolute;
}

.mountain-7 {
  z-index: 8;
  width: 538px;
  top: calc(50% + 123px);
  left: calc(50% + 305px);
  position: absolute;
}

.text {
  z-index: 9;
  top: calc(50% - 130px);
  left: 50%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: auto;
}

.text h2 {
  font-weight: 100;
  font-size: 6.5rem;
  line-height: 0.88;
}

.text h1 {
  font-weight: 800;
  font-size: 8rem;
  line-height: 0.88;
}

.mountain-6 {
  z-index: 10;
  width: 408px;
  top: calc(50% + 60px);
  left: calc(50% + 590px);
  position: absolute;
}

.fog-4 {
  z-index: 11;
  width: 590px;
  top: calc(50% + 223px);
  left: calc(50% - 60px);
  position: absolute;
}

.mountain-5 {
  z-index: 12;
  width: 625px;
  top: calc(50% + 250px);
  left: calc(50% + 130px);
  position: absolute;
}

.fog-3 {
  z-index: 13;
  width: 1600px;
  top: calc(50% + 110px);
  left: calc(50% - 15px);
  position: absolute;
}

.mountain-4 {
  z-index: 14;
  width: 780px;
  top: calc(50% + 196px);
  left: calc(50% - 381.5px);
  position: absolute;
}

.mountain-3 {
  z-index: 15;
  width: 538px;
  top: calc(50% + 20px);
  left: calc(calc(50% + 840px));
  position: absolute;
}

.fog-2 {
  z-index: 16;
  width: 1560px;
  top: calc(50% + 147px);
  left: calc(50% - 30px);
  position: absolute;
}

.mountain-2 {
  z-index: 17;
  width: 690px;
  top: calc(50% + 154px);
  left: calc(50% + 412px);
  position: absolute;
}

.mountain-1 {
  z-index: 18;
  width: 530px;
  top: calc(50% + 17px);
  left: calc(50% - 800px);
  position: absolute;
}

.sun-rays {
  z-index: 19;
  width: 595px;
  top: 0;
  right: 0;
  position: absolute;
  pointer-events: none;
}

.black-shadow {
  z-index: 20;
  right: 0;
  bottom: 0;
  position: absolute;
  pointer-events: none;
}

.fog-1 {
  z-index: 21;
  width: 2000px;
  top: calc(100% - 355px);
  left: 60%;
  position: absolute;
}

.vignette {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.7));
  pointer-events: none;
}